<h3>Add new restaurant</h3>
<form method="POST" action="/restaurants">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">

    <label>Address</label>
    <input type="hidden" id="latitude" name="latitude" placeholder="latitude" >
    <input type="hidden" id="longitude" name="longitude" placeholder="longitude">

    <input type="text" id="address" name="address" placeholder="address">
    <input id="getLatLng" type="button" value="get lat lng">

    <input type="submit" name="" id="submit">
</form>
<a href="/restaurants">Back to the list</a>
